SUBSTACK_API_KEY=
NEXT_PUBLIC_SUBSTACK_URL=
SUBSTACK_API_BASE_URL=

# Tally Forms
NEXT_PUBLIC_TALLY_PROJECTS_URL=https://tally.so/r/0QrAJ9
NEXT_PUBLIC_TALLY_RESEARCH_URL=https://tally.so/r/1AP99b

# PostHog Analytics
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com